.container {
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: center;
    padding: 2rem 0 2rem 0;
}

.input {
    padding: 0.75rem 0.25rem 0.75rem 0.25rem;
    width: 15rem;
}