.container {
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: center;
    padding: 2rem 0 2rem 0;
}

.button {
    background-color: #647494;
    color: white;
    border-radius: 5px;
    box-shadow: none;
    border: none;
    padding: 1rem;
    font: inherit;
    font-weight: 700;
}

.button:hover {
    background-color: #465167;
}

.button:active {
    background-color:#2e3442;
}

.input {
    padding: 1rem 0.25rem 1rem 0.25rem;
    width: 15rem;
}