.slideshow {
    position: relative;
    margin: 0 2rem 2rem 2rem;
}

.photo {
    width: 100%;
    height: 80vh;
    object-fit: cover;
    position: relative;
}

.fadeIn {
    animation: fadeInAnimation ease 1.5s;
}

.newPhoto {
    display: flex;
    position: absolute;
    right: 0%;
    top: 0%;
    width: 100%;
}

.left, .right {
    position: absolute;
    top: 50%;
    height: 4rem;
    transform: translate(0, -50%);
    transition: 0.3s;
}

.right {
    right: 0%;

}

.left {
    left: 0%;
}

.right:hover, .left:hover {
    filter: invert(100%) sepia(94%) saturate(0%) hue-rotate(329deg) brightness(108%) contrast(108%);
    background-color: white;
    cursor:pointer;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeOutAnimation {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.fadeOut {
    animation: fadeOutAnimation ease 1.5s;
    animation-fill-mode: forwards;
}

.link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
    border: none;
    padding: 0;
}

.container {
    position: relative;
    display: flex;
}

.credit {
    text-align:center;
    margin: 0;
    position: absolute;
    bottom: 5px;
    right: 5px;
    background-color: white;
    padding: 5px;
    font-size: 0.75rem;
    animation: fadeInAnimation ease 1.5s;
}

.image0Text {
    position: absolute;
    color: white;
    bottom: 10%;
    right: 65%;
    width: 30%;

}

.image0 {
    object-position: right bottom;
}

.image1 {
    object-position: left;
}

.image1Text {
    position: absolute;
    color: black;
    bottom: 50%;
    right: 5%;
    width: 30%;
    transform: translate(0, 50%);
}

.image2Text{
    position: absolute;
    color: black;
    bottom: 50%;
    right: 55%;
    width: 30%;
    transform: translate(0, 50%);
}

.image3Text {
    position: absolute;
    color: black;
    top: 15%;
    right: 10%;
    width: 30%;
    transform: translate(0, 50%);
}

.image4Text {
    position: absolute;
    color: white;
    bottom: 50%;
    right: 7%;
    width: 30%;
    transform: translate(0, 50%);
}