.slideshow {
    position: relative;
    margin: 2rem;
}

.photo {
    width: 100%;
    height: 75vh;
    object-fit: cover;
    animation: fadeInAnimation ease 1.5s;
    position: relative;
}

.newPhoto {
    position: absolute;
    right: 0%;
}

.left, .right {
    position: absolute;
    top: 50%;
    height: 4rem;
    transform: translate(0, -50%);
    transition: 0.3s;
}

.right {
    right: 0%;

}

.left {
    left: 0%;
}

.right:hover, .left:hover {
    filter: invert(100%) sepia(94%) saturate(0%) hue-rotate(329deg) brightness(108%) contrast(108%);
    background-color: white;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeOutAnimation {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.fadeOut {
    animation: fadeOutAnimation ease 1.5s;
    animation-fill-mode: forwards;
}