.slideshow {
    position: relative;
    margin: 2rem;
}

.clothing {
    width: 100%;
    height: 75vh;
    object-fit: cover;
}

.left, .right {
    position: absolute;
    top: 50%;
    height: 4rem;
    transform: translate(0, -50%);
}

.right {
    right: 0%;

}

.left {
    left: 0%;
}