.item {
    width: 100%;
    height: 10rem;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
        "image title price"
        "image quantity .";
    column-gap: 1rem;
}

.image {
    height: 100%;
    width: 100%;
    object-fit: contain;
    border: solid;
    grid-area: image;
}

.title {
    margin: 0;
    grid-area: title;
    justify-self:
}

.itemPrice {
    margin: 0;
    grid-area: price;
    font-weight: bold;
    justify-self: end;
}

.quantitybox {
    display: flex;
    gap: 0.5rem;
    margin-top: auto;
    grid-area: quantity;
}

.cart {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 0 2rem 2rem 2rem;
}

.summary {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        "title title"
        "discount discount"
    ;
    height: 15rem;
    margin-right: 2rem;
}

.summaryTitle {
    grid-area: title;
    text-align: center;
}

.price, .discountValue {
    justify-self: end;
}

.discountValue {
    color: red;
}

.section {
    display: grid;
    grid-template-columns: 4fr 1fr;
}

h4 {
    margin: 0;
    margin-bottom: 1rem;
}

.checkout {
    grid-column: 1 / span 2;
    padding: 0.5rem;
}

button {
    cursor: pointer;
}

.discountContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-area: discount;
    grid-template-areas: 
        "question arrow"
        "input input";
}

.invalid {
    color: red;
    grid-area: 3/ 1 / 4 / 4;
    text-align: center;
    animation: animate  0.5s linear 3; 
}

@keyframes animate { 
    0% { 
        opacity: 1; 
    } 

    50% { 
        opacity: 0; 
    } 

    100% { 
        opacity: 1; 
    } 
} 

.arrow {
    justify-self: end;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 0;
    font-size: 1rem;
    grid-area: arrow;
}

.discount {
    cursor: pointer;
    grid-area: question;
}

.inputContainer {
    margin-bottom: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-area: input;
    column-gap: 0.5rem;
}
