.item {
    width: 20rem;
    height: 35rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.image {
    height: 75%;
    width: 100%;
    object-fit: contain;
    border: solid;

}

.text {
    margin: 0;
}

.quantitybox {
    display: flex;
    gap: 0.5rem;
    margin-top: auto;
}

.cart {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem 1rem;
    justify-content: space-evenly;
    margin: 0 2rem 2rem 2rem;
}

.summary {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        "title title"
    ;
    height: 15rem;
    margin-right: 2rem;
}

.summaryTitle {
    grid-area: title;
    text-align: center;
}

.price {
    justify-self: end;
}

.section {
    display: grid;
    grid-template-columns: 4fr 1fr;
}

h4 {
    margin: 0;
    margin-bottom: 1rem;
}

.checkout {
    grid-column: 1 / span 2;
    padding: 0.5rem;
}

button {
    cursor: pointer;
}
