.item {
    width: 100%;
    height: 10rem;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
        "image title price"
        "image quantity .";
    column-gap: 1rem;
}

.image {
    height: 100%;
    width: 100%;
    object-fit: contain;
    border: solid;
    grid-area: image;
}

.title {
    margin: 0;
    grid-area: title;
    justify-self:
}

.itemPrice {
    margin: 0;
    grid-area: price;
    font-weight: bold;
    justify-self: end;
}

.quantitybox {
    display: flex;
    gap: 0.5rem;
    margin-top: auto;
    grid-area: quantity;
}

.cart {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 0 2rem 2rem 2rem;
}

.summary {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        "title title"
    ;
    height: 15rem;
    margin-right: 2rem;
}

.summaryTitle {
    grid-area: title;
    text-align: center;
}

.price {
    justify-self: end;
}

.section {
    display: grid;
    grid-template-columns: 4fr 1fr;
}

h4 {
    margin: 0;
    margin-bottom: 1rem;
}

.checkout {
    grid-column: 1 / span 2;
    padding: 0.5rem;
}

button {
    cursor: pointer;
}
