.hyperlinks {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    background-color:#647494;
    color: white;
}

.hyperlink:hover {
    text-decoration: underline;
    cursor: pointer;
}