.hyperlinks {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 1rem;
    background-color:rgba(228, 228, 228, 0.3);
    color: black;
    padding-inline: 2rem;

}

.hyperlink:hover {
    text-decoration: underline;
    cursor: pointer;
}