.hyperlinks {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    background-color:rgb(228, 228, 228);
    color: black;
}

.hyperlink:hover {
    text-decoration: underline;
    cursor: pointer;
}