.sale {
    font-size: 1rem;
    margin: 0;
    text-align: center;
}

.emphasis {
    font-weight: 800;
}

.day,.hour,.minute,.second {
    font-size: 3rem;
}

.container {
    background-color: #647494;
    color: white;
    padding: 5px 0 5px 0;
}
