.sale {
    font-size: 1rem;
    margin: 0;
    text-align: center;
}

.emphasis {
    color: red;
}

.day,.hour,.minute,.second {
    font-size: 3rem;
}

.container {
    background-color: rgb(55, 55, 203);
    color: white;
    padding: 5px 0 5px 0;
}
