.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: white;

    padding: 1rem;
}

.modal.active {
    transform: translate(-50%, -50%) scale(1);
}

.header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.close {
    cursor: pointer;
    border: none;
    background: none;
    outline: none;
    font-size: 2.5rem;
    font-weight: bold;
    position: absolute;
    top: -10px;
    right: 0px;
    padding: 0;
}

h1 {
    margin: 0;
    margin-bottom: 0.75rem;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
}

#overlay.active {
    pointer-events: all;
    opacity: 1;
}

.image {
    height: auto;
    width: 250px;
    border-right: solid;
    grid-area: image;
    padding: 1rem;
}

p{
    margin: 0;
    margin-bottom: 1rem;
}

.body {
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        "image text"
        "image text"
    ;
    gap: 1rem 0;
    border: solid;
}

.bodytext {
    grid-area: text;
    width: 250px;
    height: auto;
    padding: 1rem;
}

.link {
    grid-area: link;
    text-align: center;
    margin-top: 0.75rem;
    display:block;
}