.about {
    text-align: center;
    margin-top: 10%;
}

.link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
    border: none;
    padding: 0;
}

.credit {
    text-align:center;
    margin: 0;
    position: absolute;
    bottom: 5px;
    right: 5px;
    background-color: white;
    padding: 5px;
    font-size: 0.75rem;
}

.text {
    text-align: center;
    font-weight: 700;
    font-size: 5rem;
    margin: 5rem 0 5rem 0;
}

.mens {
    margin: 2rem 2rem 2rem 2rem;
}

.mensPanel {
    min-height: 70vh;
    display: flex;
}

.man0 {
    object-fit: cover;
    object-position: 100% 0;
    width: 100%;
    height: 100%;
}

.man1 {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.manContainer {
    width: 50%;
    position: relative;
}

.jewelryContainer {
    position: relative;
    height: 70vh;
}

.bracelet {
    object-fit: cover;
    object-position: 0% 33%;
    width: 100%;
    height: 100%;
}

.jewelry{
    margin: 2rem;
}

.panelText {
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.mothers {
    height: 80vh;
    background-color: #d3d0c9;
    position: relative;
}

.mother1Container {
    position: relative;
    height: 100%;
    pointer-events: none;
}

.mother1 {
    position: absolute;
    height: 100%;
    right: 0;
}

.mother2Container {
    height: 75%;
    padding: 0.5rem;
    position: absolute;
    top: 50%;
    background-color: white;
    transform: translate(-50%, -50%);
    right: 15%;
}

.mother2 {
    height: 100%;
}

.mothersText {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 25%;
    max-width: 40%;
}

.mothersHeadline {
    font-size: 4rem;
    color: #651B0E;
    margin-bottom: 1rem;
}

.celebrating {
    margin: 0;
}

@media (max-width: 600px) {
    .mens {
        margin: 2rem 0;
    }

    .mensPanel {
        flex-wrap: wrap;
    }

    .manContainer {
        width: 100%;
    }

    .mother1Container {
    }

    .mother1 {
        width: 50%;
        object-fit: cover;
        height: 50%;
        bottom: 5%;
        right: 5%;
    }

    .mother2Container {
        display: none;
    }

    .mothersHeadline {
        font-size: 3rem;
    }

    .mothersText {
        width: 75%;
        left: 40%;
        top: 25%;
        max-width: none;
    }

    .jewelry {
        margin: 2rem 0;
    }
}