.about {
    text-align: center;
    margin-top: 10%;
}

.groundContainer {
    position: relative;
    display: flex;
}

.ground {
    width: 100%;
    height: 100%;
}

.link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
    border: none;
    padding: 0;
}

.credit {
    text-align:center;
    margin: 0;
    position: absolute;
    bottom: 5px;
    right: 5px;
    background-color: white;
    padding: 5px;
    font-size: 0.75rem;
}

.womens {
    display: flex;
}

.woman {
    width: 100%;
    object-fit: cover;
}
.womanLink {
    position: absolute;
    top: 3rem;
    left: 3rem;
    background: white;
    z-index: 50;
}

.womanContainer {
    display: flex;
    position: relative;
    width: 33.33%;
}

.text {
    text-align: center;
    font-weight: 700;
    font-size: 5rem;
    margin: 5rem 0 5rem 0;
}

.mens {
    margin: 5rem 2rem 2rem 2rem;
}

.mensPanel {
    height: 70vh;
    width: auto;
    background-color: grey;
    display: flex;
}

.man0 {
    object-fit: cover;
    object-position: 100% 0;
    width: 100%;
    height: 100%;
}

.man1 {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.manContainer {
    width: 50%;
    height: 100%;
    position: relative;
}

.jewelryContainer {
    position: relative;
    width: 100%;
    height: 70vh;
}

.bracelet {
    object-fit: cover;
    object-position: 0% 33%;
    width: 100%;
    height: 100%;
}

.jewelry {
    margin: 2rem;
}

.panelText {
    margin-top: 1rem;
    margin-bottom: 5rem;
}