.title {
    font-family: "Shrikhand", serif;
    font-size: 7rem;
    margin-top: 0rem;
    margin-bottom: 0rem;
}

.about {
    text-align: center;
    margin-top: 10%;
}

.ground {
    width: 100%;
}

.link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
    border: none;
    padding: 0;
}

.credit {
    text-align:end;
}