#title {
    font-family: "Shrikhand", serif;
    font-size: 3rem;
    font-weight:normal;
    border: none;
    padding: 0;
    margin: 0;
    justify-self:start;
}

#title:hover {
    background-color: transparent;
    cursor: pointer;
    transform: scale(1.025);
    transition: 0.2s;
}

#logo:hover {
    cursor:pointer;
    transform: scale(1.025);
    transition: 0.2s;
}
