.title {
    font-family: "Shrikhand", serif;
    font-size: 8rem;
    margin-top: 0rem;
    margin-bottom: 0rem;
    border: none;
    padding: 0;
}

.title:hover {
    background-color: white;
    color: black;
}