.title {
    font-family: "Shrikhand", serif;
    font-size: 3rem;
    border: none;
    padding: 0;
    color:#647494;
    
}

.title:hover {
    background-color: transparent;
    cursor: pointer;
    color: #647494;
    transform: scale(1.025);
}