.title {
    font-family: "Shrikhand", serif;
    font-size: 3rem;
    border: none;
    padding: 0;
    color:#f0544d;
    margin: 0;
    justify-self:start;
}

.title:hover {
    background-color: transparent;
    cursor: pointer;
    transform: scale(1.025);
    transition: 0.2s;
}