.title {
    font-family: "Kanit", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 8rem;
    margin: 0 2rem 0 2rem;
    border: none;
    padding: 0;
}

.title:hover {
    background-color: white;
    color: black;
}