.quantity {
    max-width: 2rem;
    height:auto;
}

.quantityContainer {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.interactContainer {
    display: flex;
    flex-direction:column;
    align-items: center;
    margin-top: auto;
}

.image {
    height: 75%;
    width: 100%;
    object-fit: contain;
    border: solid;

}

.container {
    width: 20rem;
    height: 40rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.title {
    font-size: 1rem;
    margin: 0;
    font-weight: 400;
}

.number::-webkit-outer-spin-button,
.number::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}