.navigation {
    display: flex;
    gap: 1rem;
    margin: 0rem 2rem 2rem 2rem;
}

a {
    text-decoration: none; 
    color:black;
    border: solid;
    padding: 0.5rem;
}

a:hover {
    color: white;
    background-color: black;
}

.active {
    font-weight: 700;
}
  