.navigation {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    align-items: center;
    padding: 0 2rem 0 2rem;
    position: sticky;
    top: 0;
    z-index: 9;
    background-color: white;
    overflow: auto;
    white-space: nowrap;
    gap: 2rem;
}

.cartContainer {
    justify-self: end;
    position: relative;
}

.categories {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-self: center;
    font-size: 1rem;
}

.tab {
    text-decoration: none; 
    color:black;
    border: solid;
    padding: 0.5rem;
    font-weight: 700;
    border-width: 2px;
    border-radius: 5px;
}

.tab:hover {
    color: white;
    background-color:black;
    border-color: black;
    transition: 0.2s;
}

.active {
    color: #f0544d;

}

.cart {
    height: 2rem;
    border-radius: 5px;
    padding: 2px;
}

.cart:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition: 0.3s;
    background-color: white;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(139deg) brightness(103%) contrast(101%);
}

.dot {
    width: 20px;
    line-height: 20px;
    border-radius: 50%;
    text-align: center;
    background-color: #f0544d;
    color: white;
    position: absolute;
    top: -5px;
    right: 0;
    padding: 1px;
}

.hamburgerNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    padding-inline: 15px;
    position: sticky;
    top: 0;
    background-color: white;
    z-index:2;
}

.hamburger {
    height: 3rem;
}

.hamburgerMenu {
    position: absolute;
    background-color: white;
    right: 0;
    top: 0;
    font-size: 2rem;
    margin: 0;
    padding: 0;
    z-index: 3;
}

.hamburgerMenu ul {
    list-style-type: none;
    height: 100vh;
    padding: 0 3rem;
}

.hamburgerMenu ul li {
    margin: 15px;
}

.hamburgerMenu ul li a {
    color: black;
    cursor: pointer;
}

.hamburgerMenu ul li a:hover {
    color: #f0544d;

}

.shadow {
    background-color: rgba(0, 0, 0, 0.382);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 2;
}

.exitHamburger {
    height: 3rem;
    margin-left: auto;
    margin-right: 15px;
    margin-top: 15px;
    display: block;
}




  
  