.navigation {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    align-items: center;
    padding: 0 2rem 0 2rem;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: white;
}

.cartContainer {
    justify-self: end;
}

.categories {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-self: center;
    font-size: 1rem;
}

a {
    text-decoration: none; 
    color:black;
    border: solid;
    padding: 0.5rem;
}

a:hover {
    color: white;
    background-color:#647494;
    border-color:#647494;
    transition: 0.3s;
}

.active {
    font-weight: 700;
    border-width: 2px;
}

.cart {
    height: 2rem;
}

.cart:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition: 0.3s;
}

.dot {
    width: 20px;
    line-height: 20px;
    border-radius: 50%;
    text-align: center;
    background-color: #647494;
    color: white;
    position: absolute;
    top: 10px;
    right: 30px;
    padding: 1px;
}
  