.navigation {
    display: flex;
    gap: 1rem;
    margin-bottom: 2rem;
}


a {
    text-decoration: none; 
    color:black;
    border: solid;
    padding: 0.5rem;
}

a:hover {
    color: white;
    background-color: black;
}
  