.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    border-radius: 5px;
    z-index: 11;
    background-color: white;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.modal.active {
    transform: translate(-50%, -50%) scale(1);
}

.header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.close {
    cursor: pointer;
    border: none;
    background: none;
    outline: none;
    font-size: 2.5rem;
    font-weight: bold;
    position: absolute;
    top: -10px;
    right: 0px;
    padding: 0;
    color: black;
}

.close:hover {
    background: none;
}

h1 {
    margin: 0;
    margin-bottom: 0.75rem;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    z-index: 10;
}

#overlay.active {
    pointer-events: all;
    opacity: 1;
}

.image {
    max-width: 250px;
    padding: 1rem;
}

p{
    margin: 0;
    margin-bottom: 1rem;
}

.body {
    gap: 1rem 0;
    border: solid;
    border-radius: 5px;
}

.bodytext {
    max-width: 250px;
    padding: 1rem;
}

.link {
    grid-area: link;
    text-align: center;
    margin-top: 0.75rem;
    display:block;
    color: black;
    border: solid;
    padding: 1rem 0 1rem 0;
}

.button {
    margin-top: 1rem;
}