.quantity {
    max-width: 1.5rem;
    height:auto;
}

.quantityContainer {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.interactContainer {
    display: flex;
    flex-direction:column;
    align-items: center;
    gap: 2rem;
    margin-top: auto;
}

.image {
    height: 60%;
    width: 100%;
    object-fit: contain;
}

.container {
    width: 20rem;
    height: 35rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    border-radius: 7px;
    border: solid rgba(128, 128, 128, 0.246);
    padding: 1rem;
}

.title {
    font-size: 1rem;
    font-weight: 400;
}

.number {
    width: 1rem;
    text-align: center;
    pointer-events: none;
    -moz-appearance: textfield;
}

.number::-webkit-outer-spin-button,
.number::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;

}
