.montserrat-<Coolfont> {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: <400>;
  font-style: normal;
}

.shrikhand-regular {
    font-family: "Shrikhand", serif;
    font-weight: 400;
    font-style: normal;
}  

.kanit-black {
    font-family: "Kanit", sans-serif;
    font-weight: 900;
    font-style: normal;
}

* {
    font-family: "Montserrat", sans-serif;
}

body {
  margin: 0;
}

button {
  background-color: #f0544d;
  color: white;
  border-radius: 5px;
  box-shadow: none;
  border: none;
  padding: 0.75rem;
  font: inherit;
  font-weight: 700;
}

button:hover {
  background-color: #bd433c;
}

button:active {
  background-color: #822f2a;
}

a {
  text-decoration: none;
  color: white;
}

@media (max-width: 600px) {
  body {
    max-width: 100%;
  }
}


